<button class="btn btn-primary" ng-click="openDashboard()">DASHBOARD</button>

<div class="col-md-6">
	<label>Title:</label>
	<input type="text" class="form-control" ng-model="issue.Title">

	<label>Description:</label>
	<input type="text" class="form-control" ng-model="issue.Description">

	<select name="users" ng-model="issue.AsigneeId">
		<option class="form-control" ng-repeat="el in allUsers" value="{{el.Id}}">{{el.Username}}</option>
	</select>
	</br>

	<select name="project" ng-change="getProjectPriorities()" ng-model="issue.ProjectId" >
		<option class="form-control" ng-repeat="el in allProjects" value="{{el.Id}}" >{{el.Name}}</option>
	</select>
	</br>

	<select name="priorities" ng-model="issue.PriorityId">
		<option class="form-control" ng-repeat="el in priorities" value="{{el.Id}}" >{{el.Name}}</option>
	</select>
	</br>

	<label>Due date:</label>
	<input type="date" class="form-control" ng-model="issue.DueDate">

	<button class="btn btn-primary" ng-click="addIssue()">Add</button>
</div>
