<div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" id="pwd">
</div>
<select name="users" >
	<option ng-repeat="el in users" value="{{el.Id}}">{{el.Username}}</option>
</select>

<select name="project" ng-change="getProjectPriorities()" ng-model="project">
	<option ng-repeat="el in allProjects">{{el.Name}}</option>
</select>
</br>

<select name="priorities" >
	<option ng-repeat="el in priorities" value="{{el.Id}}">{{el.Name}}</option>
</select>


</br>
